@charset "UTF-8";

body {
  background-color: lightblue;
}

h1, h2, h3, p {
  color: white;
}


/* form styling */
label 
{
	margin-right: .3em;
	width: 3.3em; /* I made this deliberately wide – come up with your own optimal width */
	display: inline-block; /* width will not work for “inline” elements such as “label”. Therefore we need to set it to “inline-block” */
	text-align: right;
}

/* we place the id formcol1 in front of the li element in order to limit this
formatting to the top part of the form */
#formcol1 li 
{
	list-style:none;
}

#wrapper 
{
	width: 60%;
	margin-left:4%;
}

div#formcol1 
{
	float:left;	
	width: 100%;
	border-style: solid;
	border-radius: 5px;
	border-color: white;
}



/* end of form css */
	
